tex/main.aux
tex/main.aux
tex/main.bbl
tex/main.blg
tex/main.log
tex/main.pdf
tex/main.synctex.gz
tex/.DS_Store
tex/LMCS2025/main.aux
tex/LMCS2025/main.bbl
tex/LMCS2025/main.blg
tex/LMCS2025/main.log
tex/LMCS2025/main.pdf
tex/LMCS2025/main.synctex.gz
tex/LMCS2025/.DS_Store